@import "../../variables.scss";
@import "../../_mixins.scss";

.container {
    @include container;
    
    .Portfolio-left, .Portfolio-right {
        @include half-sections;
    }
    
    .Portfolio-left {
        background-color: $pink;
        color: $black;
    }
    
    .Portfolio-right {
        background-color: $white;
        color: $black;
    }
}