@import "../../variables.scss";
@import "../../_mixins.scss";

.Portfolio-container {
    @include container;
    
    .Portfolio-showcase {
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: row;
    }
}