@import "../../variables.scss";
@import "../../_mixins.scss";

.Footer {
    background-color: $black;
    height: 10vh;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    
    p {
        color: $white;
        display: flex;
        justify-content: center;
        width: 33%;
    }
    
    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        a {
            position: relative;
            cursor: pointer;
            
            &:before {
                width: 8rem;
                position: absolute;
                display: inline-block;
                text-align: center;
                padding: 0.25rem;
                opacity: 0;
                font-size: 0.75rem;
                color: $black;
                background-color: $beige;
                border-radius: 5%;
                top: 0px;
                @include transition(all 0.3s ease);
                content: attr(data-tip);
                transform: translate(-1.25rem, -120%);
            }
            
            &:hover {
                &:before {
                    opacity: 1;
                }
            }
            
            .Footer-icon {
                color: $white;
                font-size: 1.25rem;
                padding-left: 2rem;
                padding-right: 2rem;
                @include transition(color .4s ease);

                &:hover {
                    color: $grey;
                }
            }
        }
    }
}