@import "../../variables.scss";
@import "../../_mixins.scss";

.Footer {
    background-color: $black;
    position: absolute;
    height: 10vh;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    
    p {
        color: $white;
        text-align: center;
        width: 33%;
        
        @include phone {
            display: none;
        }
    }
    
    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        @include phone {
            width: 100%;
            justify-content: space-between;
        }
        
        a {
            position: relative;
            cursor: pointer;
            
            &:before {
                width: 8rem;
                position: absolute;
                display: inline-block;
                text-align: center;
                padding: 0.25rem;
                opacity: 0;
                font-size: 0.75rem;
                color: $black;
                background-color: $beige;
                border-radius: 5%;
                top: 0px;
                @include transition(all 0.3s ease);
                content: attr(data-tip);
                transform: translate(-1.25rem, -120%);
                
                @include phone {
                    display: none;
                }
            }
            
            &:hover {
                &:before {
                    opacity: 1;
                }
            }
            
            @include phone {
                padding: 0;
                
                &:first-child {
                    margin-left: 10%;
                }
                
                &:last-child {
                    margin-right: 10%;
                }
            }
            
            .Footer-icon {
                color: $white;
                font-size: 1.25rem;
                padding-left: 2rem;
                padding-right: 2rem;
                @include transition(color .4s ease);
                
                @include tablet {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
                
                @include phone {
                    padding: 0;
                }

                &:hover {
                    color: $grey;
                }
            }
        }
    }
}