@mixin transition($args...) {
      -webkit-transition: $args;
      -moz-transition: $args;
      -ms-transition: $args;
      -o-transition: $args;
      transition: $args;
}

@mixin container {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

@mixin half-sections {
    padding-left: 5%;
    padding-right: 5%;
    width: 50%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin tablet {
    @media (max-width: 768px) {
        @content
    }
}

@mixin phone {
    @media (max-width: 540px) {
        @content
    }
}