// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

// Font Variables
$roboto-mono: 'Roboto Mono', serif;

// Colors
$white: #F8F6F4;
$black: #0D0D0D;
$grey: #A4A4A4;
$beige: #E1D889;
$pink: #D35A63;